/*
 * Remove template code below
 */
:host {
  display: block;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
}

main {
  padding: 0 36px;
}

pre {
  padding: 9px;
  border-radius: 4px;
  background-color: black;
  color: #eee;
}
