// :host {
//   display: block;
//   min-width: 300px;
//   max-width: 600px;
//   margin: 50px auto;
// }

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  padding: 0 36px;
}

pre {
  padding: 9px;
  border-radius: 4px;
  background-color: black;
  color: #eee;
}
