:host ::ng-deep .menubar {
  border-radius: 0;
  min-width: 60rem;
  border-left: none;
  border-right: none;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.center {
  width: 95%;
  min-width: 60rem;
  margin: 1rem auto;
}
